<footer>
    <div class="container">
      <div class="row">      
        <div class="col-md-4 col-sm-4"  style="text-align: center;">
          <p>
            <a href="mailto:kalugin.d27o@gmail.com">kalugin.d27o@gmail.com</a>
          </p>
        </div>

        <div class="col-md-4 col-sm-4" style="text-align: center;">
            <a href="https://vk.com/d27o_dev" class="fa fa-vk"></a>
            <a href="https://github.com/d27o" class="fa fa-github"></a>
        </div>

        <div class="col-md-4 col-sm-4" style="text-align: center;">
          <p>
            г. Москва
          </p>
        </div>

        <div class="clearfix col-md-12 col-sm-12">
          <hr />
        </div>

        <div class="col-md-12 col-sm-12">
          <div class="footer-copyright">
            <p>© 2020 | All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>