<!-- footer -->
<footer class="page-footer text-body ">
  <hr>
  <div class="container mt-5">
    <div class="row">

      <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <p>
          <a href="mailto:kalugin.d27o@gmail.com" class="text-body">kalugin.d27o@gmail.com</a>
        </p>
      </div>

      <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <p>
          <a href="https://vk.com/d27o_dev">
            <img width="25" height="25" src="../src/images/icons/vk-icon.svg" alt="vk">
          </a>
          <a href="https://github.com/d27o" class="mx-2">
            <img width="25" height="25" src="../src/images/icons/github-icon.svg" alt="github">
          </a>
          <a href="https://t.me/d27odev">
            <img width="25" height="25" src="../src/images/icons/telegram-icon.svg" alt="telegram">
          </a>
        </p>
      </div>

      <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <p>
          <span> г. Москва </span>
        </p>
      </div>
    </div>
  </div>
  <div class="text-center py-3 mt-2">
    <p> Made with &#10084;</p>
  </div>
</footer>