<!-- pre loader -->
<!-- <div class="preloader">
  <div class="sk-spinner sk-spinner-wordpress">
    <span class="sk-inner-circle"></span>
  </div>
</div> -->

<!-- navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button
        class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-collapse"
      >
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <a href="{{ site.baseurl }}/" class="navbar-brand"
        ><img class="logo-img" src="/src/images/file-code-solid.png" alt="logo image"
      /></a>
    </div>
    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}/">Проекты</a></li>
        <li><a href="{{ site.baseurl }}/about">Обо мне</a></li>
        <li><a href="{{ site.baseurl }}/blog">Блог</a></li>
        <li><a href="{{ site.baseurl }}/contact">Контакты</a></li>     
      </ul>
            
    </div>
  </div>
</div>
