.about {
  &__title,
  &__sub-title {
    display: flex;
    justify-content: center;
    &-wrp {
      padding: 20px;
    }
  }
  &__img {
    &-wrp {
      display: flex;
      justify-content: center;
      padding: 0 0 50px 0;
    }
  }
  &__blockquote-body {
    margin: 0 0 4px 0;
  }
  &__line {
    width: 100px;
  }
  &__skill {
    &-list {
      list-style: none;
      padding: 0;
      margin: 0 0 20px 0;
    }
  }
}

@media (min-width: 768px) {
  .about {
    &__img {
      max-width: 550px;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .about {
    &__skill {
      &-title {
        font-size: 20px;
      }
    }
  }
}
