.blog {
  &__body {
  }
  &__heading {
    padding: 20px 0 20px 0;
  }
  &__list {
  }
  &__post {
    &-thumb {
      margin: 20px 0 20px 0;
    }
    &-img {
    }
    &-title {
      margin: 5px 0 0px 0;
    }
  }
  &__meta {
    
  }
}

@media (min-width: 768px) {
  .blog {
    &__post {
      &-img {
        max-width: 510px;
        height: auto;
      }
    }
  }
}
