.post {
  &__body {
    &-wrp {
      display: flex;
      justify-content: center;
    }
    padding: 0;
  }
  &__heading {
    &-img {
      &-wrp {
        display: flex;
        justify-content: center;
      }
      margin: 0 0 20px 0;
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
  }
  &__author {
  }
  &__meta {
    margin-bottom: 22px;
    display: flex;
    justify-content: center;
    &-span {
      letter-spacing: 0.5px;
    }
    &-date {
      white-space: nowrap;
      padding-left: 46px;
    }
    &-a {
      color: #333;
    }
    &-img {
      display: inline-block;
      width: 42px;
      margin-right: 4px;
    }
  }
}

@media (min-width: 768px) {
  .post {
    &__heading {
      &-img {
        max-width: 510px;
        height: auto;
      }
    }
  }
}
