---
layout: default
---
<section id="blog">
  <div class="container">
    <div class="row">

      <div class="col-md-offset-1 col-md-10 col-sm-12">
        <div class="home">
          {%- if page.title -%}
          <h1 class="page-heading">{{ page.title }}</h1>
          {%- endif -%}

          {{ content }}

          {%- if site.posts.size > 0 -%}
          <h2 class="post-list-heading">{{ page.list_title | default: "Посты" }}</h2>
          <div class="post-list">

            {%- for post in site.posts -%}
            <div class="blog-post-thumb">

              <div class="blog-post-image">
                <a href="{{ post.url | relative_url }}">
                  <img src="{{ post.preview }}" class="img-fluid" alt="preview image">
                </a>
              </div>

              <div class="blog-post-title">
                <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
              </div>

              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              {%- if site.show_excerpts -%}
              {{ post.excerpt }}
              {%- endif -%}
            </div>
            {%- endfor -%}
          </div>

          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>