---
layout: default
---

<section id="blog-single-post">
  <div class="container">
    <div class="row">

      <div class="col-md-offset-1 col-md-10 col-sm-12">
        <div class="blog-single-post-thumb">
          <div class="blog-post-image">
            <img src="{{ page.preview }}" class="img-responsive" alt="Blog Image">
          </div>

          <div class="blog-post-title">
            <h2>{{ page.title }}</a></h2>
          </div>

          <div class="blog-post-format">
            <span><a href="/"><img src="/src/images/photo.jpg" class="img-responsive "> Дмитрий
                Калугин</a></span>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}   
            <span><i class="fa fa-date"></i>{{ page.date | date: "%-d %B %Y" }}</span>
          </div>

          <div class="blog-post-des">
            {{content}}
          </div>

        </div>
      </div>
    </div>
</section>